<div id="course" class="course">
    <div class="course-header">
        <h1>{{ flow.courses.model.course.title }}</h1>
        <h2>REACT is a structural framework for dynamic web apps.
            It lets you use HTML as your template language and lets you extend HTML's syntax to express your
            application's components clearly and succinctly.
            REACT's data binding and dependency injection eliminate much of the code you would
            otherwise have to write</h2>
    </div>
    <div class="course-content">
        <h3>{{flow.courses.model.course.description}}</h3>
    </div>
</div>
